## Preprocessing

In [50]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [51]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME'])

In [52]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [53]:
# Look at APPLICATION_TYPE value counts for binning
counts = application_df['APPLICATION_TYPE'].value_counts()
counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [54]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(counts[counts<500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [55]:
# Look at CLASSIFICATION value counts for binning
countsbinning = application_df['CLASSIFICATION'].value_counts()
countsbinning

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [56]:
# You may find it helpful to look at CLASSIFICATION value counts >1
countsclassification = countsbinning[countsbinning>1]
countsclassification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [57]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list (countsbinning[countsbinning<1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [58]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df,dtype=float)
application_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [59]:
# Split our preprocessed data into our features and target arrays

# Separate the y variable (target arrays)
y = application_df['IS_SUCCESSFUL'].values

# Separate the X variable (features)
X = application_df.drop('IS_SUCCESSFUL', axis=1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state = 42)

In [60]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [61]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len( X_train_scaled[0])
hidden_nodes_layer1=7
hidden_nodes_layer2=14
hidden_nodes_layer3=21

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation='relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_6 (Dense)             (None, 7)                 308

 dense_7 (Dense)             (None, 14)                112

 dense_8 (Dense)             (None, 1)                 15

=================================================================
Total params: 435
Trainable params: 435
Non-trainable params: 0
_________________________________________________________________

In [63]:
# Compile the model
nn.compile(loss = 'binary_crossentropy', optimizer = 'adam', metrics=['accuracy'])

In [64]:
# Train the model
fit_model = nn.fit(X_train_scaled,y_train,validation_split=0.15, epochs=100)

Epoch 1/100
684/684 [==============================] - 4s 3ms/step - loss: 0.6116 - accuracy: 0.6830 - val_loss: 0.5714 - val_accuracy: 0.7261
Epoch 2/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5697 - accuracy: 0.7203 - val_loss: 0.5598 - val_accuracy: 0.7289
Epoch 3/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5630 - accuracy: 0.7240 - val_loss: 0.5560 - val_accuracy: 0.7344
Epoch 4/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5597 - accuracy: 0.7280 - val_loss: 0.5547 - val_accuracy: 0.7339
Epoch 5/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5575 - accuracy: 0.7305 - val_loss: 0.5522 - val_accuracy: 0.7375
Epoch 6/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5558 - accuracy: 0.7303 - val_loss: 0.5519 - val_accuracy: 0.7346
Epoch 7/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5545 - accuracy: 0.7303 - val_loss: 0.5486 - val_accuracy: 0.7357
Epoch 8/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5543 - accuracy: 0.7310 - val_loss: 0.5495 - val_accuracy: 0.7383
Epoch 9/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5536 - accuracy: 0.7310 - val_loss: 0.5522 - val_accuracy: 0.7354
Epoch 10/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5527 - accuracy: 0.7313 - val_loss: 0.5493 - val_accuracy: 0.7359
Epoch 11/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5527 - accuracy: 0.7312 - val_loss: 0.5492 - val_accuracy: 0.7370
Epoch 12/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5524 - accuracy: 0.7308 - val_loss: 0.5496 - val_accuracy: 0.7365
Epoch 13/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5519 - accuracy: 0.7314 - val_loss: 0.5485 - val_accuracy: 0.7352
Epoch 14/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5516 - accuracy: 0.7318 - val_loss: 0.5484 - val_accuracy: 0.7370
Epoch 15/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5511 - accuracy: 0.7312 - val_loss: 0.5508 - val_accuracy: 0.7359
Epoch 16/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5508 - accuracy: 0.7304 - val_loss: 0.5494 - val_accuracy: 0.7359
Epoch 17/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5506 - accuracy: 0.7324 - val_loss: 0.5488 - val_accuracy: 0.7365
Epoch 18/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5504 - accuracy: 0.7324 - val_loss: 0.5501 - val_accuracy: 0.7352
Epoch 19/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5505 - accuracy: 0.7305 - val_loss: 0.5480 - val_accuracy: 0.7362
Epoch 20/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5500 - accuracy: 0.7325 - val_loss: 0.5491 - val_accuracy: 0.7344
Epoch 21/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5502 - accuracy: 0.7317 - val_loss: 0.5479 - val_accuracy: 0.7359
Epoch 22/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5498 - accuracy: 0.7322 - val_loss: 0.5496 - val_accuracy: 0.7359
Epoch 23/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5497 - accuracy: 0.7324 - val_loss: 0.5486 - val_accuracy: 0.7346
Epoch 24/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5493 - accuracy: 0.7322 - val_loss: 0.5486 - val_accuracy: 0.7362
Epoch 25/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5494 - accuracy: 0.7319 - val_loss: 0.5486 - val_accuracy: 0.7357
Epoch 26/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5492 - accuracy: 0.7324 - val_loss: 0.5494 - val_accuracy: 0.7341
Epoch 27/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5489 - accuracy: 0.7317 - val_loss: 0.5498 - val_accuracy: 0.7352
Epoch 28/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5487 - accuracy: 0.7316 - val_loss: 0.5494 - val_accuracy: 0.7354
Epoch 29/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5484 - accuracy: 0.7324 - val_loss: 0.5497 - val_accuracy: 0.7370
Epoch 30/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5483 - accuracy: 0.7324 - val_loss: 0.5499 - val_accuracy: 0.7354
Epoch 31/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5482 - accuracy: 0.7322 - val_loss: 0.5491 - val_accuracy: 0.7359
Epoch 32/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5480 - accuracy: 0.7320 - val_loss: 0.5511 - val_accuracy: 0.7346
Epoch 33/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5477 - accuracy: 0.7323 - val_loss: 0.5501 - val_accuracy: 0.7367
Epoch 34/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5478 - accuracy: 0.7334 - val_loss: 0.5504 - val_accuracy: 0.7344
Epoch 35/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5477 - accuracy: 0.7324 - val_loss: 0.5496 - val_accuracy: 0.7344
Epoch 36/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5475 - accuracy: 0.7321 - val_loss: 0.5495 - val_accuracy: 0.7339
Epoch 37/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5470 - accuracy: 0.7320 - val_loss: 0.5498 - val_accuracy: 0.7341
Epoch 38/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7327 - val_loss: 0.5515 - val_accuracy: 0.7352
Epoch 39/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5473 - accuracy: 0.7326 - val_loss: 0.5497 - val_accuracy: 0.7352
Epoch 40/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5474 - accuracy: 0.7319 - val_loss: 0.5486 - val_accuracy: 0.7365
Epoch 41/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5471 - accuracy: 0.7331 - val_loss: 0.5493 - val_accuracy: 0.7352
Epoch 42/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5473 - accuracy: 0.7322 - val_loss: 0.5484 - val_accuracy: 0.7354
Epoch 43/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5471 - accuracy: 0.7333 - val_loss: 0.5484 - val_accuracy: 0.7365
Epoch 44/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5466 - accuracy: 0.7333 - val_loss: 0.5488 - val_accuracy: 0.7305
Epoch 45/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5468 - accuracy: 0.7331 - val_loss: 0.5473 - val_accuracy: 0.7362
Epoch 46/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7330 - val_loss: 0.5487 - val_accuracy: 0.7349
Epoch 47/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5466 - accuracy: 0.7319 - val_loss: 0.5486 - val_accuracy: 0.7362
Epoch 48/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5464 - accuracy: 0.7328 - val_loss: 0.5489 - val_accuracy: 0.7362
Epoch 49/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7326 - val_loss: 0.5479 - val_accuracy: 0.7349
Epoch 50/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5464 - accuracy: 0.7333 - val_loss: 0.5495 - val_accuracy: 0.7349
Epoch 51/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5461 - accuracy: 0.7334 - val_loss: 0.5485 - val_accuracy: 0.7352
Epoch 52/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5466 - accuracy: 0.7320 - val_loss: 0.5489 - val_accuracy: 0.7370
Epoch 53/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7338 - val_loss: 0.5483 - val_accuracy: 0.7365
Epoch 54/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5463 - accuracy: 0.7326 - val_loss: 0.5481 - val_accuracy: 0.7354
Epoch 55/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5459 - accuracy: 0.7325 - val_loss: 0.5501 - val_accuracy: 0.7321
Epoch 56/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5462 - accuracy: 0.7337 - val_loss: 0.5488 - val_accuracy: 0.7378
Epoch 57/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7344 - val_loss: 0.5476 - val_accuracy: 0.7357
Epoch 58/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7342 - val_loss: 0.5498 - val_accuracy: 0.7344
Epoch 59/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5463 - accuracy: 0.7344 - val_loss: 0.5493 - val_accuracy: 0.7359
Epoch 60/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5462 - accuracy: 0.7328 - val_loss: 0.5476 - val_accuracy: 0.7370
Epoch 61/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5455 - accuracy: 0.7330 - val_loss: 0.5509 - val_accuracy: 0.7362
Epoch 62/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5459 - accuracy: 0.7339 - val_loss: 0.5501 - val_accuracy: 0.7372
Epoch 63/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7339 - val_loss: 0.5502 - val_accuracy: 0.7349
Epoch 64/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7327 - val_loss: 0.5510 - val_accuracy: 0.7359
Epoch 65/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7338 - val_loss: 0.5489 - val_accuracy: 0.7359
Epoch 66/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5454 - accuracy: 0.7343 - val_loss: 0.5520 - val_accuracy: 0.7352
Epoch 67/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5455 - accuracy: 0.7341 - val_loss: 0.5495 - val_accuracy: 0.7354
Epoch 68/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5454 - accuracy: 0.7340 - val_loss: 0.5485 - val_accuracy: 0.7354
Epoch 69/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5453 - accuracy: 0.7346 - val_loss: 0.5484 - val_accuracy: 0.7378
Epoch 70/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5450 - accuracy: 0.7335 - val_loss: 0.5478 - val_accuracy: 0.7352
Epoch 71/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7333 - val_loss: 0.5473 - val_accuracy: 0.7349
Epoch 72/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5452 - accuracy: 0.7335 - val_loss: 0.5483 - val_accuracy: 0.7362
Epoch 73/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7330 - val_loss: 0.5478 - val_accuracy: 0.7359
Epoch 74/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7334 - val_loss: 0.5487 - val_accuracy: 0.7359
Epoch 75/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7325 - val_loss: 0.5484 - val_accuracy: 0.7365
Epoch 76/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7337 - val_loss: 0.5487 - val_accuracy: 0.7313
Epoch 77/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5449 - accuracy: 0.7340 - val_loss: 0.5502 - val_accuracy: 0.7357
Epoch 78/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5449 - accuracy: 0.7334 - val_loss: 0.5480 - val_accuracy: 0.7352
Epoch 79/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7343 - val_loss: 0.5502 - val_accuracy: 0.7352
Epoch 80/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7333 - val_loss: 0.5487 - val_accuracy: 0.7354
Epoch 81/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5447 - accuracy: 0.7346 - val_loss: 0.5483 - val_accuracy: 0.7354
Epoch 82/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7343 - val_loss: 0.5490 - val_accuracy: 0.7341
Epoch 83/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7331 - val_loss: 0.5480 - val_accuracy: 0.7341
Epoch 84/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7346 - val_loss: 0.5498 - val_accuracy: 0.7336
Epoch 85/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5449 - accuracy: 0.7341 - val_loss: 0.5478 - val_accuracy: 0.7346
Epoch 86/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5445 - accuracy: 0.7332 - val_loss: 0.5480 - val_accuracy: 0.7323
Epoch 87/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5448 - accuracy: 0.7323 - val_loss: 0.5488 - val_accuracy: 0.7352
Epoch 88/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5446 - accuracy: 0.7336 - val_loss: 0.5487 - val_accuracy: 0.7365
Epoch 89/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7340 - val_loss: 0.5486 - val_accuracy: 0.7339
Epoch 90/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7340 - val_loss: 0.5480 - val_accuracy: 0.7367
Epoch 91/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5445 - accuracy: 0.7334 - val_loss: 0.5488 - val_accuracy: 0.7349
Epoch 92/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5444 - accuracy: 0.7338 - val_loss: 0.5475 - val_accuracy: 0.7349
Epoch 93/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7337 - val_loss: 0.5491 - val_accuracy: 0.7344
Epoch 94/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5443 - accuracy: 0.7347 - val_loss: 0.5484 - val_accuracy: 0.7274
Epoch 95/100
684/684 [==============================] - 2s 3ms/step - loss: 0.5440 - accuracy: 0.7342 - val_loss: 0.5475 - val_accuracy: 0.7354
Epoch 96/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5443 - accuracy: 0.7346 - val_loss: 0.5490 - val_accuracy: 0.7344
Epoch 97/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5438 - accuracy: 0.7340 - val_loss: 0.5470 - val_accuracy: 0.7362
Epoch 98/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5437 - accuracy: 0.7340 - val_loss: 0.5479 - val_accuracy: 0.7359
Epoch 99/100
684/684 [==============================] - 1s 2ms/step - loss: 0.5438 - accuracy: 0.7357 - val_loss: 0.5495 - val_accuracy: 0.7357
Epoch 100/100
684/684 [==============================] - 2s 2ms/step - loss: 0.5441 - accuracy: 0.7327 - val_loss: 0.5496 - val_accuracy: 0.7352

In [65]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5579 - accuracy: 0.7304 - 391ms/epoch - 1ms/step
Loss: 0.5578838586807251, Accuracy: 0.7303789854049683

In [69]:
# Export our model to HDF5 file
from google.colab import files

nn.save('/content/AlphabetSoupCharity.h5')
files.download('/content/AlphabetSoupCharity.h5')